.dropdown-menu {
    width: 300px;
    background-color: #00cfff; 
    border: none; 
    padding: 10px;
  }
  
  .dropdown-item {
    font-size: 18px;
    color: white; 
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white; 
  }
  
  .dropdown-divider {
    background-color: white; 
  }
  
  .dropdown-item .bi {
    font-size: 22px;
  }
  